body{
    width: 100%;
    background: var(--Main-Primary-50, #FFF2E8);
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background: var(--Main-Primary-50, #FFF2E8);
    color: #252B33;
    font-family: Arial, sans-serif;
    z-index: 1000;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(176, 172, 172, 0.1);
}
.menu-items {
    display: flex;
    gap: 20px;
}
.menu-items a {
    color: #252B33;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.menu-items {
    display: flex;
    gap: 20px;
}

.menu-items a:last-child {
    margin-right: 50px;
}

.menu-items a:first-child {
    margin-left: 20px;
}

.menu-items a:hover,
.menu-items a:active {
    color: #E85D04;
}
.restaurant-name {
    margin-left: 10px;
    color: #DC2F02;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.container{
    left:450px;
    position: relative;
    top:100px;
   /* background-color: #ddd;*/
     width: 500px;
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 5px;
}
.step:nth-child(1){
    text-align: center;
    width: 54.625px;
    height: 54.625px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FC8019;
}
.step:nth-child(2){
    text-align: center;
    width: 54.625px;
    height: 54.625px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FC8019;
}
.step:nth-child(3){
    
    text-align: center;
    width: 54.625px;
    height: 54.625px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FBD6B7;
}
#photo{
    right: 10px;
    position: relative;
    float: right;
    top: 60px;
    width: 323px;
    height: 323px;
    flex-shrink: 0;
    background: url("../assets/Hamburger.jpg") lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
}
.frame{
    position: relative;
    align-self: center;
    left:330px;
    top:250px;
    width: 821px;
    height: 214px;
    flex-shrink: 0;
}
#titre{
    color: #370617;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 100% */
}
#group{
    position: relative;
    align-self: center;
    position: relative;
    left:200px;
    top:50px;
    width: 325.862px;
    height: 110px;
    flex-shrink: 0;
}
.details{
    color: #151522;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 133.333% */
}
.flous{
    position: absolute;
    right: 0px;;
    color: #151522;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 133.333% */
}
#Total{
    color: #696969;
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    line-height: 20px; /* 133.333% */
}
#Discount{

    color: #00C48C;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 133.333% */
}
input[type="submit"] {
    position: relative;
    float :left;
    box-align:center;
    left:500px;
    top:270px;
    width: 400px;
    height: 50px;
    background: linear-gradient(360deg, #F0745E 0%, #FF330F 100%);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 10px 20px;}

    #photo2{
        position: relative;
        top:100px;
        width: 341.503px;
        height: 228px;
        flex-shrink: 0;
       background: url("decor2.png") var(--Main-Primary-50, #FFF2E8) no-repeat;
    }
    footer{
        position: relative;
        top:150px;
    }
    #footer{
        position: relative;
        float: right;
        right:300px;
    }
    .social-media{
        border:none;
        border-radius: 5px;
        float: right;
        position: relative;
        width: 20.643px;
        height: 20.043px;
        flex-shrink: 0;
        margin-right: 10px;
        fill: var(linear-gradient(180deg, #F0745E 0%, #FF330F 100%));
    }
    .social-media:nth-child(4){
        background: url("fb-ic.svg") no-repeat;
    }
    .social-media:nth-child(3){
        background: url("tweet-ic.svg") no-repeat;
    }
    .social-media:nth-child(2){
        background:url("insta-ic.svg");
    }
    .social-media:nth-child(1){
        background: url("google-ic.svg");
    }
