html{
    height:700px;
}
body{
    width: 100%;
    background: var(--Main-Primary-50, #FFF2E8);
    height:700px;
}

#photo{
    right: 10px;
    position: relative;
    float: right;
    top: 60px;
    width: 323px;
    height: 323px;
    flex-shrink: 0;
    background: url("assets/Hamburger.jpg") lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
}
.frame{
        position: relative;
        align-self: center;
        left:330px;
        top:200px;
        width: 821px;
        height: 414px;
        flex-shrink: 0;
    }
svg{
    position: relative;

    left:300px;
    width: 160px;
    height: 160px;
    flex-shrink: 0;
}
#mabrouk{
    position: relative;
    right:19px;
    height: 76px;
}
#congratulaions{
    color: #151522;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px; /* 120.588% */
}
#phrase{
    position: relative;
    top:5px;
    left:310px;
    color: #151522;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
#jomla{   
    position: relative;
    right:15px;   
    text-align: center;

}
#fine{
    color: #999;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; /* 138.462% */
}
input[type="submit"] {
    position: relative;
    float :left;
    box-align:center;
    left:530px;
    top:120px;
    width: 400px;
    height: 50px;
    background: linear-gradient(360deg, #F0745E 0%, #FF330F 100%);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    padding: 10px 20px;}

 #photo2{
    position: relative;
    top:-70px;
    width: 341.503px;
    height: 228px;
    flex-shrink: 0;
   background: url("assets/decor2.png") var(--Main-Primary-50, #FFF2E8) no-repeat;
}