body {
    width: 100%;
    background: var(--Main-Primary-50, #FFF2E8);
    
}


#photo{
    right: 10px;
    position: relative;
    float: right;
    top: 60px;
    width: 323px;
    height: 323px;
    flex-shrink: 0;
    background: url("assets/Hamburger.jpg") lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
}
.frame{
    position: relative;
    align-self: center;
    left:330px;
    top:250px;
    width: 821px;
    height: 214px;
    flex-shrink: 0;
}
#titre{
    color: #370617;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 100% */
}
#group{
    position: relative;
    align-self: center;
    position: relative;
    left:200px;
    top:50px;
    width: 325.862px;
    height: 110px;
    flex-shrink: 0;
}
.details{
    color: #151522;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 133.333% */
}
.flous{
    position: absolute;
    right: 0px;;
    color: #151522;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 133.333% */
}
#Total{
    color: #696969;
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    line-height: 20px; /* 133.333% */
}
#Discount{

    color: #00C48C;
    text-align: right;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 133.333% */
}

    #photo2{
        position: relative;
        top:100px;
        width: 341.503px;
        height: 228px;
        flex-shrink: 0;
       background: url("assets/decor2.png") var(--Main-Primary-50, #FFF2E8) no-repeat;
    }