*{
    box-sizing: border-box;
}



#photo{
    flex: 1;
    
    overflow: hidden;

    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    background: url("assets/Rectangle 338.png");
    object-fit: cover; 
    background-size: cover;


}
#formulaire{
    float: left;
    position: relative;
    width: 50%;
   height: 981.293px;
    flex-shrink: 0;
    fill: rgba(170, 170, 170, 0.15);
    filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.05));
}
#vector{
    position:relative;
    width: 1542.62px;
    height: 982px;
    background: var(--Main-Primary-50, #FFF2E8);


}


.layout{
top:10px;
margin:20px;
right: 5px;
left: 5px;
position: relative;
display: flex;
width: 708px;
height: 67.105px;
justify-content: center;
align-items: flex-start;
gap: 65.263px;
flex-shrink: 0;
}
.name{
    float: left;
    position: relative;
    width: 50%;
}
.inpu{
    width: 321.369px;
    height: 39.474px;
    flex-shrink: 0;
    color: #151522;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 18px; 
margin-bottom: 10px;
padding: 10px;
font-size: 16px;
border-radius: 5px;
border: 1px solid white; 
}
.custom-link {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border-radius: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    z-index: 9999;
    
}
.custom-link:hover {
    color: #fff;
    background-color: #DC2F02;
}